global
    log /dev/log local0
    daemon
    maxconn 4096

defaults
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend amf_front
    bind *:38412
    default_backend amf_back

backend amf_back
    balance roundrobin

    server amf1 127.0.0.1:38413 check
    server amf2 127.0.0.1:38414 check
